#header {
  padding: 10px;
  background: #fdd;
  text-align: center
}
#content-1 {
  float: left;
  width: 32%;
  padding: 1%;
  background: #bfb;
  text-align: center
}
#content-2-1 {
  float: left;
  width: 30%;
  padding: 1%;
  background: #ddf;
  text-align: center
}
#content-2-2 {
  float: right;
  width: 32%;
  padding: 1%;
  background: #dff;
  text-align: center
}
#footer {
  clear: both;
  padding: 10px;
  background: #ff9;
  text-align: center
}
